<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{{title}}</title>
    </head>

      <body>
        <h1>Daily earthquake report</h1>
        <p>There were {{num_quakes}} earthquakes in the last
          24 hours, including {{large_quakes_count}} of magnitude 5.0
          or greater.</p>
        <p>The previous 24-hour period had {{num_large_quakes_yesterday}} large
          earthquakes, {% if num_large_quakes_yesterday > large_quakes_count %}
          {{num_large_quakes_yesterday - large_quakes_count}} more {% else %}
          {{large_quakes_count - num_large_quakes_yesterday}} less {% endif %}
          than the current 24 period.</p>
        <p>The five largest quakes were:</p>
        <ul>
          {% for quake in large_quakes %}
            <li>{{quake.properties.place}}, ({{quake.properties.mag}})</li>
          {% endfor %}

        </ul>
      </body>

  </html>
